.env
venv/
**/venv/
app/backend/venv/
sql/03_seed.sql

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Editor/OS
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specifics
logs
*.log
node_modules
dist
dist-ssr
*.local
